.center-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textbox {
  text-align: left;
  width: 100%;
  padding: 10%;
  padding-top: 5%;
}

@media (min-width: 1101px) {
  .textbox {
    padding-left: 30%;
  }
}

.corner-element {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 25px;
  color: black;
}
.corner-element:hover {
  transform: scale(1.03);
}

.container {
  display: flex;
  align-items: center; /* Zentriert Inhalte vertikal */
  gap: 4px; /* Abstand zwischen Elementen */
}

.highlight-text {
  display: inline-block;
}
.highlight-text:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.03);
}

a {
  color: inherit;
  text-decoration: none;
}
