/* CSS */

.center-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 20px;
}

.corner-element {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 25px;
  cursor: pointer;
  color: black;
}

.corner-element:hover {
  transform: scale(1.05);
}
