.center-content {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: 100%;
}

.textbox {
  text-align: left;
  width: 100%;
  padding: 10%;
}

@media (min-width: 1101px) {
  .textbox {
    padding-left: 30%;
  }
}
