.center-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Sichere Höhe über die gesamte Bildschirmhöhe */
  overflow: auto;
}

.textbox {
  text-align: left;
  width: 100%;
  padding: 10%;
  padding-top: 5%;
}

a {
  color: inherit;
  text-decoration: none;
}
