.container {
  background-color: lightseagreen;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: scroll;
}

.rowelement {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 10px;
  transition: all 0.2s ease; /* Smooth transition */
  border: 2px dashed transparent;
}

.rowelement.dragging {
  border-color: lightblue;
  background-color: lightyellow; /* Zeigt an, dass ein Bild gezogen wird */
}

.rowelement:hover {
  background-color: lightcyan;
  transform: scale(1.01);
  cursor: pointer;
}

.rowelement.pressed {
  transform: scale(0.98); /* Shrink effect on press */
  background-color: lightblue; /* Optional pressed color */
}

.add {
  font-size: 100px;
  transition: transform 0.2s ease; /* Smooth transform for scaling */
}

.rowelement.pressed .add {
  transform: scale(0.9); /* Icon shrink effect */
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.hidden-input {
  display: none; /* Versteckt das Input-Feld */
}
