.center-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textbox {
  padding: 10%;
  text-align: left;
}

.corner-element {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 25px;
  color: black;
}
.corner-element:hover {
  transform: scale(1.03);
}
