.mainphone {
  position: relative;
  width: 100vw;
  height: 100dvh;
  padding-top: 70px;
  overflow: auto;
}

.mainfullscreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-left: 20vw;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
